<h1>Stats</h1>

<h2>Registered Members</h2>
<table>
    <thead>
        <td>PID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{ user.pid }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
        </tr>
    </tbody>
</table>
<h2>Checked In Members</h2>
<table>
    <thead>
        <td>PID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Time of Checkin</td>
    </thead>
    <tbody>
        <tr *ngFor="let checkin of checkedInUsers$ | async">
            <td>{{ checkin.user.first_name}}</td>
            <td>{{ checkin.user.last_name }}</td>
            <td>{{ checkin.user.pid }}</td>
            <td>{{ checkin.created_at | date:'MM/dd/yyyy HH:mm:ss' }}</td>
        </tr>
    </tbody>
</table>

<hr>

<a routerLink="/">Home</a>